.env
venv/
env/
*.pyc
__pycache__/
data/raw/*
data/bronze/*
data/silver/*
data/gold/*
!data/*/.gitkeep
.ipynb_checkpoints/
.vscode/
.idea/
.DS_Store
airflow/logs/
airflow.db
airflow.cfg

# Airflow runtime
airflow/*.pid
airflow/*.log
airflow/*.err
airflow/*.out
airflow/airflow.db
airflow/logs/
